
<div class="conta">
  <div class="hero_meet">
    <div class="title"><%= @group.event.title %></div>
  </div>
  <div class="main lobby_show">
    <div class="left">
      <h3><%= @group.title %></h3>
      <p class="desc"><%= @group.desc.html_safe %></p>
      <div class="people_going">
        <h4>People Going <span class="amount"><%= @group.users.count %></span></h4>
        <div class="people">
        <% @group.users.each do |user| %>
          <div class="person">
            <a href="#">
              <%= link_to((gravatar_for user, size: 96), user )%>
              <div class="name"><%= user.name %></div>
            </a>
          </div>
        <% end %>
        </div>
      </div>
      <div class="comment_sect">

        <div class="input_sect">
          <%= form_for([@group, @group.group_comments.build]) do |f| %>
            <%= f.text_area :content, size: "100x4" %> 
            <%= f.submit "Submit Comment" %>
          <% end %>
        </div>


        <div class="comments">
        <% @group.group_comments.each do |comment| %>
          <div class="comment">
            <div class="user"><%= comment.user.name if comment.user %></div>
            <div class="text"><%= comment.content %></div>
            <div class="time">3 days ago</div>
          </div>
        <% end %>
        </div>
        <div class="showMore">
          Show More
        </div>
      </div>
    </div>
    <div class="right">
    <% unless @group.users.include? current_user %>
    <%= form_for(current_user.memberships.build(group_id: @group.id)) do |f| %>
      <%= hidden_field_tag :group_id, value = @group.id %>
     <%= submit_tag "Join", class: "btn join" %>
    <% end %>
    <% else %>
    <div class="btn join">Leave</div>
    <% end %>
         <div class="btn invite">Invite Someone</div>
    </div>
  </div>

</div>

<div class="popup_lobby hide">
  <div class="dialog">
    <h2>Invite Friends</h2>
    <form action="#">
      <ul>
        <li><label><input type="checkbox"> <img src="#" alt="">Friend Name</label></li>
        <li><label><input type="checkbox"> <img src="#" alt="">Friend Name</label></li>
        <li><label><input type="checkbox"> <img src="#" alt="">Friend Name</label></li>
        <li><label><input type="checkbox"> <img src="#" alt="">Friend Name</label></li>
        <li><label><input type="checkbox"> <img src="#" alt="">Friend Name</label></li>
        <li><label><input type="checkbox"> <img src="#" alt="">Friend Name</label></li>
        <li><label><input type="checkbox"> <img src="#" alt="">Friend Name</label></li>
        <li><label><input type="checkbox"> <img src="#" alt="">Friend Name</label></li>
        <li><label><input type="checkbox"> <img src="#" alt="">Friend Name</label></li>
        <li><label><input type="checkbox"> <img src="#" alt="">Friend Name</label></li>
        <li><label><input type="checkbox"> <img src="#" alt="">Friend Name</label></li>
        <li><label><input type="checkbox"> <img src="#" alt="">Friend Name</label></li>
      </ul>
      <input type="submit" value='invite'>
    </form>
  </div>
</div>


<script>

var popup = $('.popup_lobby');
var btn = $('.btn.invite');

btn.click(showPopup);

popup.click(function(e){
  if ($(e.target).is($(this))) {
    popup.hide();
  }

});


function showPopup() {
  popup.show();
}

function hidePopup() {
  popup.hide();
}

</script>