
<div class="hero">
  <div class="left">
    <h1>Connect & Learn</h1>
    <h4>Coding is a social hobby. Join our community of developers to learn, network, and gain access to the latest news in technology.</h4>
  </div>

   <div class="right">
     <%= form_for @user do |f| %>
       <label>
         Name: 
         <%= f.text_field :name %>
       </label>
       

       <label>
       Email: 
       <%= f.email_field :email %>
       </label>

       <label>
       Password:
        <%= f.password_field :password %>
       </label>

       <label>
        Confirm Password:
        <%= f.password_field :password_confirmation %>
       </label>

      <div class="center">

        <%= f.submit "Sign Up" %>
      </div>
     <% end %>
   </div>


  <div class="circle">
    <div class="msg"></div>
  </div>
    <div class="bord">
      <div class="cir"></div>
    </div>
</div>

<div class="cont">
 <div class="features">
   <div class="feature">
     <div class="img"></div>
     <div class="desc">
       <h2>Network</h2>
       <p>
          Facebook wasn't built in a day, nor was it done by one person. Connect with aspiring and professional developers, including students and alumni of coding bootcamps to learn and collaborate on your next project!
       </p>
     </div>
   </div>
   
   <div class="feature">
     <div class="img"></div>
     <div class="desc">
       <h2>Learn</h2>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet aut, odio? Repudiandae quam quia at atque, error dolor saepe maxime, aperiam, nihil vero fugiat non sit magni obcaecati odio adipisci.</p>
     </div>
   </div>
   
   
   <div class="feature">
     <div class="img"></div>
     <div class="desc">
       <h2>Review Coding Bootcamps</h2>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet aut, odio? Repudiandae quam quia at atque, error dolor saepe maxime, aperiam, nihil vero fugiat non sit magni obcaecati odio adipisci.</p>
     </div>
   </div>
   
   
   <div class="feature">
     <div class="img"></div>
     <div class="desc">
       <h2>Track the latest Tech News</h2>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet aut, odio? Repudiandae quam quia at atque, error dolor saepe maxime, aperiam, nihil vero fugiat non sit magni obcaecati odio adipisci.</p>
     </div>
   </div>
 </div>
</div>
