<div class="cont">
  <div class="inner">
    <div class="left">
      <div class="wrap">
        <%= gravatar_for @user, size: 400 %>
        <div class="karma">
         Karma <span class="points">34k</span>
        </div>

        <div class="friends">
          <%= render 'friend_list' %>
        </div>

      </div>
    </div>
    <div class="right">
      <div class="wrap">
        <h1><%= @user.name %></h1>
        <% unless current_user? @user %>
          <div class="contact">
            <a href="#" class="msg">Send a Message</a>
            <%= render 'request_form' %>
            <a href="#" class="msg">Invite to Event</a>
          </div>
          <% else %>
          <div class="contact">
            <a href="#" class="msg">Messages</a>
            <a href="#" class="msg">Friend Requests</a>
              <a href="#" class="msg">Invitations</a>
          </div>

        <% end %>

        <%= render 'course_list' %>

        <div class="sect">
            <h3>Events Attending</h3>

            <%= render 'event_list' %>

            <div class="show_all">
              show all</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>