<div class="cont">
  <div class="inner">
    <div class="left">
      <div class="wrap">
        <%= gravatar_for @user, size: 400 %>
        <div class="karma">
         Karma <span class="points">34k</span>
        </div>

        <div class="friends">
          <%= render 'friend_list' %>
        </div>

      </div>
    </div>
    <div class="right">
      <div class="wrap">
        <h1><%= @user.name %></h1>
        <% unless current_user? @user %>
          <div class="contact">
            <a href="#" class="send_msg">Send a Message</a>
            <%= render 'request_form' %>
            <a href="#" class="msg">Invite to Event</a>
          </div>
          <% else %>
          <div class="contact">
          <% total_messages = @user.messages_received.count %>
          <% total_friend_req = @user.inverse_requests.count %>
            <a href="#" class="msg">Messages (<%= total_messages %>)</a>
            <a href="#" class="frdreqs"> Friend Requests (<%= total_friend_req %>)</a>
              <a href="#" class="invtreqs">Invitations (0)</a>
          </div>

        <% end %>

       <!--  <%= render 'course_list' %> -->


      
        <div class="sect courses">
            <h3>Events Attending</h3>

            <%= render 'event_list' %>

            <div class="show_all">
              show all</div>
          </div>

      </div>
    </div>
  </div>
</div>


<div class="notification_box hide">
  <div class="dialog">
      <div class='tabs'>
        <h3>Friend Requests</h3>
        <h3>Invites to Events</h3>
      </div>
      <div class='view'>
              <div class='friends_reqs sect'>
              <% r = current_user.inverse_requests %> 
                <% if r.size < 1 %>
                  <p class="nothing">No Friend Requests</p>
                <% else %>
                    <% current_user.inverse_requests.each do |req| %>

                      <% @req = req %>
                        <div class="user"> 
                          <div class="img"><%= link_to (gravatar_for req.user, size: 35 ), req.user %></div>
                          <div class="name"><%= link_to req.user.name, req.user %></div>
                          
                          <div class="btns">

                            <div class="accept"><%= render 'accept_form' %></div>
                            <div class="decline"><%= render 'decline_form' %></div>

                          </div>
                        </div>
                  <% end %> 
                <% end %> 
              </div>
          
          <div class='invites_reqs sect'>
              <p class="nothing">No invites</p>
          </div>

      </div>
  </div>
</div>


<div class="message_form">
  <div class="msg_inner">
    <form 
  </div>
</div>