
<div class="hero">
  <h3>Go to Tech Events <span class="color">Together</span></h3>
  <form action="/events" method="get">
    <input placeholder='search' class="search_bar" name="q"></input>
  </form>
  

<!--   <%= form_tag(events_path) do %>
    <%= select_tag "event[topic]", "<option>Tech</option>".html_safe %>
    <%= text_field_tag "event[zip]", "Enter Zip" %>
    <%= select_tag "event[distance]", "<option>2</option><option>5</option><option>10</option><option>25</option><option>50</option><option>50</option><option>Any Distance</option>".html_safe %>
    <%= submit_tag "Submit" %>
  <% end %> -->

  <div class="search">
    <select name='options'>
      <option value='option-1'>Tech</option>

    </select>
    <label id="online_only"> Category </label>

<!--     <label id='online_only'>
      <input type="checkbox" /> Online Only</label>
   <label> -->

   <input id = 'city' type="text" placeholder='City Here' /></label>
    within
 

    <select name='distance'>
      <option value='1'>1 mile</option>
      <option value='2'>2 miles</option>
      <option value='5'>5 miles</option>
      <option value='10'>10 miles</option>
      <option value='50'>50 miles</option>
    </select>

    <input type="submit" />
  </div>
</div>

<div class="cont">
  <div class="events">
  <% @events.each do |e| %>
    <div class="event">
      <div class="title"><%= link_to e.title, e %></div>
      <div class="desc"><%= e.desc.html_safe if e.desc %></div>
      <div class="img"><img src=<%= e.url %> /></div>
      <div class="rooms">3</div>
    </div>
     <% end %>
  </div>
  
  <%= will_paginate @events %>

<!-- <ul class="pagination">
      <li class="active">1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
  </ul> -->
</div>



