<div class="conta">
  <div class="hero_meet">
    <img src="http://services.fit.edu/catalog/src/uploads/catalog/images/161/headers/human-resources.jpg"  >
    <div class="title"><%= @event.title %></div>
  </div>
  <div class="nav_meet">
    <ul>
      <li data-sect='about' class='active'>About</li>
      <li data-sect='lobby'>Lobby</li>
      <li data-sect='host'>Host</li>
    </ul>
  </div>
  <div class="main">
    <div class="left">
      <div class="views">
        <div id="about" class="about_view hide">
          <div class="info">
            <strong class="location"><%= "#{@event.city}, #{@event.state}" %></strong>
            <strong class="time">2:00 am GTI</strong>
          </div>
          <div class="desc">
            <%= @event.desc.html_safe if @event.desc %>
          </div>
          <div class="stats">
            <div class="ppl_going">
              <div class="num"><%= @event.rsvp %></div>
              <div class="txt">People Going</div>
            </div>
            <div class="last_activity">
              <div class="num">32 mins </div>
              <div class="txt">Last Activity</div>
            </div>
            <div class="comments">
              <div class="num"><%= @event.comments.count %></div>
              <div class="txt">Comments</div>
            </div>
          </div>

        </div>


        <div id="lobby" class="lobby_view hide">
          <div class="rooms">
          <% @event.groups.each do |g| %>
            <div class="room">
              <div class="title"><%= link_to(g.title, g) %></div>
              <div class="stat">
                <span class="open_pos">3</span> / <span class="total"><%= g.qty %></span>
              </div>
            </div>
          <% end %>
          </div>
        </div>
        <div id="host" class="host_view hide">
          <%= form_for([@event, @event.groups.build]) do |f| %>
          <%= f.label "Title: " %>
           <%= f.text_field :title, class: "title"  %>
           <%= f.label "Description" %>
           <%= f.text_area :desc, class: "desc" %> 
           <%= f.label "Total People" %>
           <%= f.number_field :qty, min: "1", max: "20" %>
           <%= f.submit "Create Group" %>
          <% end %>
        </div>
      </div>
      <div class="comment_sect">

        <div class="input_sect">
          
        <%= form_for([@event, @event.comments.build]) do |f| %>
         
        <%= f.text_area :content, size: "100x4" %> 
          <%= f.submit "Submit Comment" %>
        <% end %>
        </div>



        <div class="comments">
        <% @event.comments.reverse.each do |comment| %>
          <div class="comment">
            <div class="user"><%= comment.user.name if comment.user  %></div>
            <div class="text"><%= comment.content %></div>
            <div class="time">3 days ago</div>
          </div>
        <% end %>
        </div>
        <div class="showMore">
          Show More
        </div>
      </div>
    </div>
    <div class="right">
      <div class="related_events">
        <h4>Related Events</h4>
        <div class="events">
        <% @events.shuffle.take(4).each do |event| %>
          <div class="event">
            <% url = event.url %>
            <% url = "http://services.fit.edu/catalog/src/uploads/catalog/images/161/headers/human-resources.jpg" unless url %>
            <div class="img"><img src=<%= url %>></div>
            <div class="title"><%= link_to event.title, event %></div>
            <div class="location"><%= event.city %>, <%= event.state %></div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>

</div>