<header>
  <% if user_signed_in? %>
    <div class="logo"><%= link_to "LearntoCode.tech", root_path %></div>

    <nav id="user">
        <ul>
        <li><a href="#">Messages</a></li>
        <li><a href="#">Courses</a></li>
        <li><a href="#">News</a></li>
        <li><%= link_to "Events", events_path %></li>
        <li><%= link_to "Log Out", logout_path, :method => :delete %></li>
        </ul>
      </nav>
  <% else %>

    <div class="logo"><%= link_to "LearntoCode.tech", root_path %></div>

    <%= form_for :session, url: login_path, :html => {:id => "login"} do |f| %>

      <%= f.label :email  %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit 'Login' %>
    <% end %>

  <% end %>
</header>

  


