<header>
  <% if user_signed_in? %>
    <div class="logo"><%= link_to "LearntoCode.tech", root_path %></div>

    <nav id="user">
        <ul>
        <li class='msg_btn'>
          <a href="#">Messages</a>
          <div class="msg_box">

<!--             <div class="msg">
              <img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a">
              <div class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni autem sed, molestiae tenetur distinctio possimus ut beatae ipsum. Id, incidunt harum totam quisquam est, nostrum. Quam hic unde eius facilis.</div>
            </div> -->
            
          </div>
        </li>
       <!--  <li><a href="#">Courses</a></li> -->
        <li><%= link_to "News", news_index_path %></li>
        <li><%= link_to "Events", events_path %></li>
        <li><%= link_to "Log Out", logout_path, :method => :delete %></li>
        </ul>
      </nav>
  <% else %>

    <div class="logo"><%= link_to "LearntoCode.tech", root_path %></div>

    <%= form_for :session, url: login_path, :html => {:id => "login"} do |f| %>

      <%= f.label :email  %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit 'Login' %>
    <% end %>

  <% end %>

  <script>
   var msgs = <%= (current_user.messages_received + current_user.messages_given).to_json  %>;
   var other_user = {};
    other_user.name = "<%= @user.name  %>";
    other_user.id = "<%= @user.id  %>";
    other_user.msgs = [] ; //work on it

  </script>
</header>

  


