<!DOCTYPE html>
<html>
<head>
  <title>LearntoCode</title>
  <meta name="description" content="Join our community of developers to learn, network, and gain access to the latest news in technology." >
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>
<%= render 'layouts/chat' %>

<%= yield %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</body>

</html>
